# python.exe -m pip install --upgrade pip
wheel # Maybe needed?
--extra-index-url https://download.pytorch.org/whl/cu117
torch >= 2.0.0 #Make sure to get on cuda if you can
# develop branch
git+https://github.com/pyannote/pyannote-audio.git@28fcf502db86747bafb126720d6b95d7c8277295

pydub
pysrt
thefuzz
python-dotenv
parse
openai
tenacity
python-Levenshtein